<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.zoumbox.mh.notifier"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4"/>
    <application android:label="@string/app_name">
        <!--android:icon="@drawable/tarot_17_resized"-->

        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Register"
                  android:label="@string/register">
            <intent-filter>
                <action android:name="android.intent.action.REGISTER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".QRCodeMarket"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="org.zoumbox.tarot.QR_CODE_MARKET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
